*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.jar
jar/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# misc
*.swp
toy
**/.tmp*
**/*.data*
template/*report*
misc/unmodified_template.zip

